.DS_Store
*/target/*
bin/
*/bin/*
**/bin/**
EatSenseAppAndroid/assets/www/*
EatSenseAppiOS/eatSense/www/*
Misc/SenchaTests/touch/*
.sass-cache
EatSenseRestWS/src/main/app/prod/**/*
EatSenseRestWS/src/main/app/prod/android/lib/*
EatSenseRestWS/src/main/app/prod/desktop/lib/*
EatSenseRestWS/src/main/app/prod/ios/lib/*
*.jsb3
*.jar
xcuserdata
