.DS_Store
*/target/*
bin/
*/bin/*
**/bin/**
EatSenseAppAndroid/assets/www/*
EatSenseAppiOS/eatSense/www/*
Misc/SenchaTests/touch/*
.sass-cache
EatSenseRestWS/src/main/app/prod/**/*
*.jsb3
*.jar
xcuserdata
