<div data-spy="scroll" data-target="#subnav" data-offset="50">
<div class="row" id="subnav">
	<ul class="nav nav-tabs">
    	<li><a href="#/import/business">Business</a></li>
	    <li><a href="#/import/nicknames">Nicknames</a></li>
	    <li><a href="#/import/feedbackform">FeedbackForm</a></li>
    </ul>
</div>
<div class="row well" id="/import/business" ng-init="importUrl='/admin/services/businesses'" ng-controller="CloobsterAdmin.Import">
	<div class="span12">
		<div class="page-header">
			<h1>Import Business <small>Import business complete with spots, menus and products.</small></h1>
		</div>
		<form ng-submit="import()" name="importBusinessForm" ng-hide="importProgress">
			<fieldset>
				<div class="control-group">
  					<label class="control-label" for="businessjson">JSON data:</label>
  						<div class="controls">
    						<textarea name="business-json" id="businessjson" placeholder="Paste JSON import file here ..." ng-model="jsonData" required/>
    					</div>
				</div>
				</fieldset>
				<button type="submit" ng-disabled="importBusinessForm.$invalid" class="btn btn-primary btn-large">Import Business</button>
		</form>
		<div>
			<div class="progress" ng-show="importProgress">
        		<div class="bar" ng-style="importProgressStyle"></div>
    		</div>
    		<div import-alert alert="importAlert"></div>
		</div>
	</div>
</div>
<div class="row well" id="/import/nicknames">
	<div class="span12">
		<div class="page-header">
				<h1>Import Nicknames <small>Import list auf nickname nouns and adjectives.</small></h1>
		</div>
		<div class="row">
			<div class="span6" ng-init="importUrl='/admin/services/nicknames/adjectives'" ng-controller="CloobsterAdmin.Import">
				<form ng-submit="import()" name="importBusinessForm" ng-hide="importProgress">
					<fieldset>
						<div class="control-group">
		  					<label class="control-label" for="adjectivesjson">Nickname adjectives JSON data:</label>
		  						<div class="controls">
		    						<textarea name="adjectivesjson" id="adjectivesjson" placeholder="Paste JSON import file here ..." ng-model="jsonData" required/>
		    					</div>
						</div>
						</fieldset>
						<button type="submit" ng-disabled="importBusinessForm.$invalid" class="btn btn-primary btn-large">Import adjectives</button>
				</form>
				<div>
					<div class="progress" ng-show="importProgress">
		        		<div class="bar" ng-style="importProgressStyle"></div>
		    		</div>
		    		<div import-alert alert="importAlert"></div>
				</div>
			</div>
			<div class="span6" ng-init="importUrl='/admin/services/nicknames/nouns'" ng-controller="CloobsterAdmin.Import">
				<form ng-submit="import()" name="importBusinessForm" ng-hide="importProgress">
					<fieldset>
						<div class="control-group">
		  					<label class="control-label" for="nounjson">Nickname adjectives JSON data:</label>
		  						<div class="controls">
		    						<textarea name="nounjson" id="nounjson" placeholder="Paste JSON import file here ..." ng-model="jsonData" required/>
		    					</div>
						</div>
						</fieldset>
						<button type="submit" ng-disabled="importBusinessForm.$invalid" class="btn btn-primary btn-large">Import nouns</button>
				</form>
				<div>
					<div class="progress" ng-show="importProgress">
		        		<div class="bar" ng-style="importProgressStyle"></div>
		    		</div>
		    		<div import-alert alert="importAlert"></div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
